body{
  margin: 0;
  padding: 0;
  line-height: 2.5;
  font-family: "Segoe UI";
  color: #283149;
}

/* Estilos básicos da navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
}

.logo {
  font-weight: bold;
}

.nav-links li {
  display: inline;
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  margin: 5px;

}

a{
  color: #283149;
  text-decoration: none;
}

.nav-links a:hover  li {
  margin-left: 0;
  width: 100%;

}


.header-content {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.header-content div{
  padding-right: 50px;
}

.header-content img {
  padding-left: 25px;
}

.header-title {
  font-size: 50px;
  line-height: 1.2;
  font-style: italic;

}

.text {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(99,97,97);
  margin-bottom: 2.5rem;
  color: #283149bd
}

button {
  border: none;
  border-radius: 15px;
  background-color: #92E3A9;
  font-size: 24px;
  color:white;
  padding: 7px 17px;

}

button:hover {
  box-shadow: 0 1px 10px 1px rgba(20, 20, 20, 0.486);

}

.Logo{
  font-weight: bold;

}

footer {
  margin: 50px;
  text-align: center;
  color: rgba(73, 73, 73, 0.658);
  padding: 20px;
}